body {
  background-image: url(https://i.giphy.com/media/v1.Y2lkPTc5MGI3NjExeGt2aTdnbjR0NnMwOWw4YWpianJ0azNqdjdkN3pxOGNpcHZyZDVlcSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/MaThe6p8WAKbf9NDDM/giphy-downsized-large.gif);
  background-repeat: no-repeat;
 background-size: auto;

}/* Place Holder File */
